{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
